.displaystyle {
padding: 0px;
margin: 0px;
background-color: #FFFFFF;
margin-bottom: 10px;
box-shadow: 5px 7px 7px 5px rgba(0, 0, 0, 0.19), 10px 12px 20px 10px rgba(0, 0, 0, 0.19);
}
.displaystyle-fullborder {
padding: 15px;
margin: 15px;
background-color: #FFFFFF;
border: 3px solid #7f7f84;
margin-bottom: 10px;
box-shadow: 5px 7px 7px 5px rgba(0, 0, 0, 0.19), 10px 12px 20px 10px rgba(0, 0, 0, 0.19);
}
.displaystyle-rightborder {
padding: 0px;
margin: 0px;
background-color: #FFFFFF;
border-right: 9px solid ;
margin-bottom: 5px;
box-shadow: 5px 7px 7px 5px rgba(0, 0, 0, 0.19), 10px 12px 20px 10px rgba(0, 0, 0, 0.19);
}
.displaystyle-leftborder {
padding: 0px;
margin: 0px;
background-color: #FFFFFF;
border-left: 9px solid ;
margin-bottom: 5px;
box-shadow: 5px 7px 7px 5px rgba(0, 0, 0, 0.19), 10px 12px 20px 10px rgba(0, 0, 0, 0.19);
}

.displaystyle-sm {
margin-top: -10px;
padding: 10px;
font-size: 80%;
width: 100% ! important;
}
.displaystyle-lg {
padding: 35px;
font-size: large;
}
.displaystyle-success {
border-color: #80D651;
}
.displaystyle-success>strong {
color: #80D651;
}
.displaystyle-info {
border-color: #45ABCD;
}
.displaystyle-info>strong {
color: #45ABCD;
}
.displaystyle-warning {
border-color: #FEAF20;
}
.displaystyle-warning>strong {
color: #FEAF20;
}
.displaystyle-danger {
border-color: #d73814;
}
.displaystyle-danger>strong {
color: #d73814;
}